.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.search-component {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto 10px auto;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(219, 219, 255), rgb(193, 193, 255));
}

.search-component > label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 90%;
  padding-bottom: 20px;
}

.search-component > label li,
.search-component > label p {
  padding-left: 20px;
}

.search-component > label li:focus,
.search-component > label li:hover {
  background-color: rgb(151, 224, 253);
  cursor: pointer;
}

h1 {
  padding: 20px;
  font-size: 48px;
  color: #d869c89e;
  text-shadow: 1px 1px 0.29px black;
}

input[name='searchCountry'] {
  /* display: inline; */
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 1px 0.5px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}

input[name='showBtn'] {
  height: 20px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0.4px 0.4px 0.2px black;
  color: white;
  background-color: #d869c89e;
  cursor: pointer;
}

.search-offer {
  width: 100%;
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 0.5px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
}

input[name='showBtn']:focus,
input[name='showBtn']:hover {
  background-color: #fd01019e;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: blue;
  opacity: 0.5;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: blue;
  opacity: 0.5;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: blue;
  opacity: 0.5;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: blue;
  opacity: 0.5;
}

.results-component {
  width: 90%;
  min-height: 300px;
  margin: 10px auto 10px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, rgb(219, 219, 255), rgb(193, 193, 255));
}

.results-component > p {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  text-shadow: 0.4px 0.4px 0.2px black;
  color: #ff15c49a;
}

.results-component > h3 {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  color: #ff15159a;
}

.results-component > h3 > strong {
  font-weight: bold;
  text-shadow: 0.4px 0.4px 0.2px black;
}

.mini-results {
  width: 95%;
  margin: 10px auto 10px auto;
}

.mini-result {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 20px auto 10px auto;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: 2px 2.5px 2px rgba(0, 0, 0, 0.3);
  background-color: #feffd1;
  cursor: pointer;
}

.mini-result:focus,
.mini-result:hover {
  background-color: #fcff86;
}

.mini-result > p {
  margin-left: 10px;
  color: #164861;
}

.mini-result > img {
  margin-left: auto;
  margin-right: 10px;
}

.mini-result-single {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto 10px auto;
}

.mini-result-single > h1 {
  text-align: center;
  font-size: 50px;
  color: #fc1d1da8;
}

.div-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-shrink: 0;
}

.div-info > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.03);
}

.div-info > div > p {
  text-shadow: 0.2px 0.2px 0.1px black;
  color: #c800b094;
}

.div-info > div > p > sup {
  vertical-align: top;
  font-size: 0.6em;
}

.iframe-container {
  position: relative;
  height: 0;
  padding-bottom: 60%;
  overflow: hidden;
}

.iframe-container > iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  border-radius: 8px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

.pagination > button {
  margin-top: 3px;
  margin-right: 3px;
  border: none;
  border-radius: 7px;
  background-color: #fff;
  cursor: pointer;
}

.pagination > button.current {
  color: white;
  background-color: #d869c89e;
}

.pagination > button:focus,
.pagination > button:hover {
  color: white;
  background-color: #d869c89e;
}

.chart-container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 40.5vw;
  min-height: 175px;
  max-height: 300px;
}
